.dashboard_container {
    display: grid;
    grid-template-columns: 300px auto;
    font-family: 'Outfit', sans-serif;
    gap: 2rem;
    background-color: #4b4b4b;
    height: 100vh;
    overflow: hidden;

    * {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media only screen and (max-width:500px) {
        display: block;
    }
}