.review_section_container {
    .review_section_box {
        padding-bottom: 30px;
        height: calc(100vh - 67px);
        overflow: scroll;
    }


    .allschedules_container {
        margin: 1rem;
        padding-bottom: 30px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    
        .schedule_box{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
        }
        .title,
        .add_icon {
            font-size: 2rem;
            cursor: pointer;
        }
    }
}