.avail_main {
    width: -webkit-fill-available;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
    gap: 1rem;
    overflow: hidden;

    .progress_box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 20px;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: 700;
    }

    .card_main {
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        height: 100%;
        overflow-y: scroll;

        @media only screen and (max-width:500px) {
            grid-template-columns: 1fr;
        }

        .card {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            background-color: white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 2px;
            width: 90%;
            padding-bottom: 30px;
            height: fit-content;
            padding-top: 30px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            justify-self: center;

            img {
                width: 95%;
                margin-bottom: 1.5rem;
            }

            .star {
                font-style: italic;
                color: #DDC861;
            }

            .btn_main {
                display: flex;
                gap: 1rem;

                .btn {
                    background-color: black;
                    color: white;
                    font-weight: 600;
                    border: none;
                    height: 30px;
                    width: 100px;
                    cursor: pointer;
                    border: 1px solid black;
                    transition: 0.5s;
                    border-radius: 5px;
                    z-index: 2;
                    border-radius: .2rem;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 0%;
                        height: 100%;
                        background-color: #DDC861 !important;
                        color: black !important;
                        transition: all 0.5s;
                        z-index: -1;
                    }

                    &:hover {
                        background-color: transparent;
                        color: black !important;
                        border: none;

                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}