.sheduler_container {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
    min-height: calc(100vh - 107px);
    box-sizing: border-box;

    .heading {
        color: #3A56F1;
        font-size: 3rem;
        text-transform: uppercase;
    }

    .sheduler_box {
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        @media only screen and (max-width:1000px) {
            width: 90%;
        }

        .detail_box {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .title {
                font-size: 3rem;

                span {
                    color: brown;
                }
            }

            .details {
                font-size: 1.1rem;
            }
        }

        .call_book_box {
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 1rem 2rem;
            gap: 1rem;

            .title{
                text-transform: uppercase;
                font-size: 1.5rem;
                text-align: center;
            }
            
            .line{
                width: -webkit-fill-available;
                display: flex;
                gap: 1rem;
                
                .input_box{
                width: -webkit-fill-available;

            }
           }
        }
    }
}