.about_container {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
    height: calc(100vh - 107px);
    box-sizing: border-box;
    background-color: #1E1E1E;

    .heading {
        color: #3A56F1;
        font-size: 3rem;
        text-transform: uppercase;
    }

    .about_box {
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        @media only screen and (max-width:1000px) {
            width: 90%;
        }

        .detail_box {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .title {
                font-size: 3rem;

                span {
                    color: brown;
                }
            }

            .details {
                font-size: 1.1rem;
            }
        }

        .img_box {
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            display: flex;
            justify-content: center;
            align-items: center;

            video {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}